/* Section styling */
.human-library {
    width: 100%;
    text-align: center;
    padding: 0rem 5rem 0rem 7rem;
}

/* Title styling */
.human-library h2 {
    margin-bottom: 1rem !important;
    font-size: 5rem !important;
    padding: 1rem 8rem !important;
    text-align: right !important;
    font-weight: 700 !important;
}

/* Main container */
.human-library-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: start;
    padding: 0 2rem;
}

/* Box structure */
.human-library-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image container */
.human-library-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image styling */
.human-library-images img:nth-child(1) {
    position: absolute;
    width: 380px !important;
    height: 310px !important;
    object-fit: cover;
    z-index: 2;
}


.human-library-images img:nth-child(2) {
    position: relative;
    width: 450px !important;
    height: 450px !important;
    object-fit: cover;
    z-index: 1;
}

/* Subtitle */
.human-library h5 {
    font-size: 1.7rem !important;
    margin: 0rem 0;
    color: rgb(36, 32, 32);
    font-weight: 700;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

/* Text content */
.human-library-box p {
    text-align: center;
    margin: 0 ;
    padding: 0 1rem;
    font-size: 1.35rem;
    line-height: 1.6;
}




/* Mobile: Reverse order (Image First, Text Second) */
@media screen and (max-width: 480px) {
    
    .human-library {
        padding: 0rem 1rem !important;
    }
    
    .human-library h2 {
        font-size: 1.5rem !important;
        padding: 1rem 1rem 0rem !important;
    }


    .human-library-container {
        display: grid !important;
        padding: 0rem 0rem !important;
        grid-template-columns: 1fr 1fr !important;
        align-items: center !important;
    }

    .human-library-images img:nth-child(1) {
        width: 100px !important;
        height: 90px !important;
        z-index: 2;
    }

    .human-library-images img:nth-child(2) {
        width: 120px !important;
        height: 120px !important;
        z-index: 1;
    }

    .human-library h5 {
        font-size: 0.7rem !important;
        font-weight: bold !important;
        margin-top: 5px !important;
        text-align: center !important;
    }

    .human-library-box p {
        font-size: 0.67rem !important;
        line-height: 1.2;
        padding: 0 0rem;

        hyphens: auto;
        column-count: 1;
        margin: 1rem auto;
        max-width: 100%;
    }
}
