/* Mobile-first approach */
.events {
    width: 100%;
    text-align: center;
    padding: 0rem 1rem;
}

.events h2 {
    padding: 1rem 8rem;
    font-size: 2rem;
}

.events-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 0.4rem;
}

.events-images-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-images-container img:nth-child(1) {
    position: absolute;
    width: 250px;
    height: 280px;
    object-fit: cover;
    z-index: 2;
    cursor: pointer;
}

.events-images-container img:nth-child(1):hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.events-images-container img:nth-child(2) {
    position: relative;
    width: 330px;
    height: 340px;
    object-fit: cover;
    z-index: 1;
}

.events-images-box h5 {
    font-size: 1.1rem;
    margin: 0.0rem 0;
    color: black;
    text-align: center;
    font-weight: 700;
}

.events-images-box p {
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 0 1rem;
    width: 100%;
}

/* Desktop styles */
@media (min-width: 768px) {
    .events {
        padding: 2rem 8rem;
    }

    .events-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .events-images-container img:nth-child(1) {
        position: absolute;
        width: 280px; /* Increased size */
        height: 220px;
        z-index: 2;
    }

    .events-images-container img:nth-child(2) {
        position: relative;
        width: 350px; /* Increased size */
        height: 380px;
        z-index: 1;
    }

    .events-images-box p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.6;
    }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
    .events h2 {
        padding: 1rem;
    }

    .events-images {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0.4rem;
    }

    .events-images-container img:nth-child(1) {
        width: 100px;
        height: 90px;
    }

    .events-images-container img:nth-child(2) {
        width: 120px;
        height: 120px;
    }

    .events-images-box h5 {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
    }

    .events-images-box p {
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 0 0rem;
        text-align: justify;
        hyphens: auto;
        column-count: 1;
        margin: 1rem auto;
        max-width: 90%;
    }
}
