/* Mobile-first approach */
.edu-vault {
    width: 100%;
    text-align: center;
    padding: 0rem 7rem 0rem 0rem;
}

.edu-vault h2 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    font-size: 5rem !important;
    padding: 1rem 8rem !important;
    text-align: left !important;
    font-weight: 700 !important;
}

.edu-vault-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: start;
    padding: 0 2rem;
}

.edu-vault-images-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edu-vault-images-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-vault-images-container img:nth-child(1) {
    position: absolute;
    width: 370px !important;
    height: 390px !important;
    object-fit: cover;
    z-index: 2;
}

.edu-vault-images-container img:nth-child(2) {
    position: relative;
    width: 450px !important;
    height: 460px !important;
    object-fit: cover;
    z-index: 1;
}

.edu-vault-images-box h5 {
    font-size: 1.7rem !important;
    margin: 0rem 0;
    color: rgb(36, 32, 32);
    font-weight: 700;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

.edu-vault-images-box p {
    text-align: left;
    margin: 0;
    padding: 0 1rem;
    font-size: 1.35rem;
    line-height: 1.6;
   
}

@media (max-width: 1024px) {
    .edu-vault{
        padding: 0rem 1.5rem !important;
    }
    .edu-vault-images-box p {
        font-size: 1.1rem !important;
        padding: 0rem 0rem !important;
    }

    .edu-vault h2{
        font-size: 4.5rem !important;
    }
}

/* Mobile styles */
@media screen and (max-width: 480px) {

    .edu-vault {
        padding: 0rem 1.4rem !important;
    }

    .edu-vault h2 {
        font-size: 1.5rem !important;
        padding: 1rem 1rem 0rem !important;
    }

    .edu-vault-images {
        display: grid !important;
                padding: 0rem 0rem !important;
                grid-template-columns: 1fr 1fr !important;
                align-items: center !important;
    }

    

    .edu-vault-images-container img:nth-child(1) {
        width: 100px !important;
        height: 110px !important;
        z-index: 2;
    }

    .edu-vault-images-container img:nth-child(2) {
        width: 120px !important;
        height: 120px !important;
        z-index: 1;
    }

    .edu-vault-images-box h5 {
        font-size: 0.7rem !important;
        font-weight: bold !important;
        margin-top: 5px !important;
        text-align: center !important;
    }

    .edu-vault-images-box:last-child {
        align-self: flex-start;
        margin-top: -0.5rem !important;
    }

    .edu-vault-images-box p {
        font-size: 0.68rem !important;
        padding: 0rem 0rem !important;
        line-height: 1.2;
    }
}

