.main {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #FF5733;
}

.header p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.about,
.people,
.edu-vault,
.human-library,
.events,
.guided-nest,
.ngo,
.goal {
    margin: 0.3rem 0;
    padding: 1rem;
    color: #696868;
}


.cta-button {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #282c34;
    border: 1px solid #bcbfc4;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    
}

.cta-button i {
    margin-right: 0.5rem;
}

.color1 {
    color: #FF5733;
}

/* Example color */
.color2 {
    color: #33FF57;
}

/* Example color */
.color3 {
    color: #F3FF33;
}

/* Example color */
.color4 {
    color: #F3FF33;
}

/* Example color */
.color5 {
    color: #FF33A1;
}

/* Example color */
.color6 {
    color: #33FFF5;
}

/* Example color */
.color7 {
    color: #FF8C33;
}

/* Example color */
.color8 {
    color: #8C33FF;
}

/* Example color */
.color9 {
    color: #FF33D4;
}

/* Example color */
.color10 {
    color: #33FF8C;
}

/* Example color */

.dot {
    display: inline-block;
    width: 4px;
    /* Adjust size as needed */
    height: 4px;
    /* Adjust size as needed */
    background-color: #1b1919;
    /* Change to desired color */
    border-radius: 50%;
    /* Make it circular */
    margin-left: 0.3rem;
    /* Space between text and dots */
    margin-right: 0.2rem;
    /* Space between dots */
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem 16rem;
}



.empty {
    width: 300px;
    height: 300px;
    background-color: #cbc6c6;
    border-radius: 10px;
    margin-top: 20px;
}























