.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 1rem;
}

.navbar-img {
    width: 80px;
    height: auto;
}

.navbar-btn-register {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.navbar-btn-register:hover{
    background-color: #fff;
    color: #000;
}

@media (max-width: 1024px) {
    .navbar{
        padding: 3rem 5rem !important;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .navbar-img {
        width: 60px;
    }

    .navbar-btn-register {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {

     .navbar{
        padding: 2rem 2.5rem !important;
     }
    .navbar-img img{
        width: 70px;
    }

    .navbar-btn .navbar-btn-register{
        padding: 0.3rem 0.8rem;
        width: 80px;
        font-size: 0.6rem;
    }
    


}
