.color1 {
    color: #DA3E39 !important;
}

.color2 {
    color: #38A3AC !important;
}

.color3 {
    color: #DFC462 !important;
}

.color4 {
    color: #DFC462 !important;
}

.color5 {
    color: #889095 !important;
}

.color6 {
    color: #E9877A !important;
}

.color7 {
    color: #A7829D !important;
}

.color8 {
    color: #E87F72 !important;
}

.color9 {
    color: #38A3AC !important;
}

.color10 {
    color: #DA3E39 !important;
}

.footer {
    background: linear-gradient(to bottom, #fffde2, #c1ebfb);
    padding: 1rem 8rem;
    margin-top: 2.5rem;
   
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.footer-logo img {
    width: 30px;
    height: 30px;
    margin-right: 0.4rem;
    margin-bottom: 0.3rem;
    margin-left: -0.3rem;
}

.footer-container h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-container p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #696868;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    color: #696868;
}

.footer-links a i {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    margin-right: 0.5rem;
}

@media (max-width: 480px) {
    .footer {
        padding: 1rem 2.5rem;
        margin-top: 1rem;
    }
    .footer-container h1 {
        font-size: 1.2rem;
    }
    .footer-container p {
        font-size: 0.8rem;
        
    }
    .footer-links {
       
        gap: 0.1rem;
    }

    .footer-links a {
        font-size: 0.8rem;
    }

    .footer-links a i {
        font-size: 0.8rem;
    }
}








